.navbar {
  padding: 10px;
  background: #fff;
}

.navbar li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.navbar li a {
  color: rgb(124, 108, 202);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
}